Class::Load
Class::Load::XS
Data::OptList
Devel::GlobalDestruction
Dist::CheckConflicts
Eval::Closure
JSON
JSON::XS
List::MoreUtils
MRO::Compat
Module::Implementation
Module::Runtime
Mojolicious
Moose
Package::DeprecationManager
Package::Stash
Package::Stash::XS
Params::Util
Perl
Sub-Exporter-Progressive
Sub::Exporter
Sub::Install
Sub::Name
Task::Weaken
Test::Fatal
Test::Requires
Text::CSV
Try::Tiny
common::sense
